.progress-bar {
    
    &__container {
        margin: auto;
        width: 100%;
        height: 50px;
    }
    
    &__outer {
        background: rgb(240, 240, 240);
        width: 100%;
        height: 100%;
        border-radius: 5px;
        box-shadow: inset 0px 2px 4px 0px rgba(0,0,0,0.32);
        position: relative;
        
        h3 {
            position: absolute;
            width: 100%;
            text-align: center;
            padding-top: 13px;
            top: 0;
        }
    }
    
    &__inner {
        background: $color2;
        // background: linear-gradient(to bottom, $color1, $color1-darker);
        height: 100%;
        border-radius: 5px;
        text-align: center;
        color: white;
    }
} 